html, body{
padding: 0;
margin: 0;

}

.header img{
  width: 100%;
  }

  .info {
margin: 1em;
  }

.info h4{
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 22px;
}
 .info p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
 }
