html, body{
padding: 0;
margin: 0;

}
/* Nav bar            */
.nav{
margin-top: -1em;
}

.nav a{
 width : 45;
 text-decoration : none;
}

.nav p{
margin: 1em;
margin-left: 1.5em;
font-family: sans-serif;
font-size: 10px;
letter-spacing: 0.1px;
line-height: 15px;

}


/* About            */
#header img{
  width: 100%;

  }

  #info {
margin: 1em;
  }

#info h4{
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 22px;
}
 #info p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
 }

 #pic img{
   margin-left: 2em;
   width: 45%;
   margin: auto;
   margin-left: 5em;
    }

/* front-end-projects                                 */


 #front-end {
margin: 1em;
 }

 #front-end p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
 }

 #front-end h4{
   font-family: sans-serif;
   font-size: 20px;
   letter-spacing: 0.1px;
   line-height: 22px;
 }

 #front-end h3{
   font-family: sans-serif;
   font-size: 28px;
   letter-spacing: 0.1px;
   line-height: 22px;
 }

 #links img{
   width: 100%;
 }

 .projects img{
   width: 90%;

 }
 /* back-end-projects                           */

 #back-end {
margin: 1em;
 }

 #back-end p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
 }

 #back-end h4{
   font-family: sans-serif;
   font-size: 20px;
   letter-spacing: 0.1px;
   line-height: 22px;
 }

 #back-end h3{
   font-family: sans-serif;
   font-size: 28px;
   letter-spacing: 0.1px;
   line-height: 22px;
 }



 /* Footer                  */

 .footer{
   height: 2.5em;
   background-color: #5B5A5A;
   width: 100%;
 }

 .footer p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
   color: white;
 }

 /* Media Query for larger screen */

 @media(min-width: 1024px) {

.container{
  text-align: center;
  }

  #pic img{
    margin-left: 2em;
    width: 25%;
  }


  .projects img{
    width: 300px;
  }

.front-end-projects{
  width: 30%;
  float: left;
  margin-left: 1.5em;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

#back{
margin: auto;
text-align: center;
width: 85%;
}

}
