html, body{
padding: 0;
margin: 0;

}
/* Nav bar            */
.nav{
margin-top: -1em;
}

.nav a{
 width : 45;
 text-decoration : none;

}

.nav a p:hover {
  background-color : orange;
}

.nav p{

font-family: sans-serif;
font-size: 15px;
letter-spacing: 0.1px;
line-height: 15px;
}




/* About            */
#header img{
  width: 100%;
  }

  #info {
margin: 1em;
  }

#info h4{
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 22px;
}
 #info p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
 }

 #pic img{
   height: 10em;
   width: 55%;
   margin: auto;
   margin-left: 5em;
   border-radius: 45%;
 }

/* front-end-projects                                 */


 #front-end {
margin: 1em;
 }

 #front-end p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
 }

 #front-end h4{
   font-family: sans-serif;
   font-size: 20px;
   letter-spacing: 0.1px;
   line-height: 22px;
 }

 #links img{

 }
 /* back-end-projects                           */

 #back-end {
margin: 1em;
 }

 #back-end p{
   font-family: sans-serif;
   font-size: 13px;
   letter-spacing: 0.1px;
   line-height: 15px;
 }

 #back-end h4{
   font-family: sans-serif;
   font-size: 20px;
   letter-spacing: 0.1px;
   line-height: 22px;
 }

 #back-end img{
   height: 15em;
   width: 75%;
   margin-left: 0.5em;
 }
